<p>E-Commerce</p>
<div class="product-list">
  <div
    *ngFor="let product of products$ | async"
    class="product-card"
    (click)="handleProductClick(product)"
  >
    <div class="product-card__image">
      <img
        loading="lazy"
        src="{{ product.thumbnail }}"
        alt="{{ product.title }}"
      />
    </div>
    <div class="product-card__content">
      <h3 class="product-card__title">{{ product.title }}</h3>
      <p class="product-card__description">{{ product.description }}</p>
      <div class="product-card__price">
        <span class="product-card__price--discounted">
          {{
            (
              product.price -
              (product.price * product.discountPercentage) / 100
            ).toFixed(2)
          }}
        </span>
        <span class="product-card__price--original">
          $ {{ product.price }}
        </span>
      </div>
      <div class="product-card__rating">
        ⭐️ {{ product.rating.toFixed(1) }}
      </div>
      <div>
        In Stock
        <span class="product-card__stock"> {{ product.stock }}</span>
      </div>
    </div>
  </div>
</div>
